[build]
builder = "NIXPACKS"

[deploy]
startCommand = "cd server && npx prisma migrate deploy && npm start"
healthcheckPath = "/health"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[[services]]
name = "trail-mixx-backend"
